arrow==0.15.5
asgiref==3.2.4
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cryptography==2.8
Deprecated==1.2.7
Django==3.0.4
django-postgresql==0.0.3
Flask==1.1.1
geos==0.2.2
gitdb==4.0.2
GitPython==3.1.0
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
leaflet==0.0.3
lxml==4.5.0
MarkupSafe==1.1.1
ogr==0.11.0
Pillow==7.0.0
postgis==1.0.4
proj==0.1.0
psycopg2==2.8.4
pycparser==2.20
PyGithub==1.46
PyJWT==1.7.1
python-dateutil==2.8.1
python-gitlab==2.1.2
pytz==2019.3
PyYAML==5.3
requests==2.23.0
six==1.14.0
smmap==3.0.1
spatialite==0.0.3
sqlparse==0.3.1
urllib3==1.26.5
Werkzeug==1.0.0
wrapt==1.12.1
